body {
    background-color: grey;
}

#title {
    background-color: black;
    width:1800px;
    height:80px;
    text-align: left;
    padding-left:70px;
    color:rgb(165, 55, 253)
}
#content {
    background-color:black;
    width:1800px;
    height:900px;
    display:flex;
    flex-direction: row;
}
#left {
    background-color:black;
    flex:12;
    display:flex;
    flex-direction: column;
}

#mapPanel {
    background-color: black;
    flex:2;
    display: flex;
    flex-direction: row;
}

#barPanel {
    background-color: black;
    flex:1;
    display: flex;
    flex-direction: row;
}
/* 
#middle {
    background-color:lightpink;
    flex:2;
} */

#right {
    background-color:lightskyblue;
    flex:8;
    display:flex;
    flex-direction: column;
    
}

#map {
flex:7;
   text-align: center;
   border:thin solid silver;
   display:flex;
   flex-direction:column;
}

#maptitle{
    flex:50;
}

#themap{
    flex:481;
}

#map-slider{
    flex:47;
}


#bar {
    flex:4;
    border:thin dashed silver;
    
}

#barchart {
    position: absolute;

}

#packLayout-export {
    background-color: black;
    flex:5;
    /* position:absolute; */
    /* width:400px; */
    /* height:400px; */
    /* margin-top:200px; */
    /* margin-right:10px; */
    /* margin-left:1000px; */
    z-index:2;
}

#packLayout-import {
    flex:5;
    background-color:black;
}

#layoutchart-info {
    flex:4;
    background-color:purple
}

#exportBarChart {
    height: 290px;
    width: 450px;
    background-color: black;
    align-self: flex-end;
}

#exportBarChart h2 {
    font-size: 20px;
    color: white;
}

#importBarChart {
    height: 290px;
    width: 450px;
    background-color: black;
    align-self: flex-end;
}

#importBarChart h2 {
    font-size: 20px;
    color: white;
}

circle {
    /* fill:#7fc5c9; */
    /* opacity: 0.2; */
    stroke:rgba(0,0,0,0);
}
path {
    fill: #fff;
    stroke: #fff;
    stroke-width: .5px;
}
path:hover {
    stroke:silver;
    stroke-width:2px;
    fill-opacity: 0.5;
    
}

#maptitle {
    text-align: left;
    
}
.maptitle {
    font-size:20px;
    color:white;
    text-align: left;
}


body {
    font-family: "helvetica";
}

button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}

.box {
    /* width: 200px; */
    /* height: 200px; */
    margin: 3px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    /* padding: 5px; */
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.baseline {
    height: 1px;
    background-color: black;
}

.clear {
    clear: both;
}

.selected {
    background-color: #f08080;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
}

.table {
    width: 70%;
}

.table td, th {
    padding: 5px;
}

.table-header {
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd {
    background-color: #f0f8ff;
}

.table-row-odd {
    background-color: #d3d3d3;
}

.code {
    display: inline-block;
    font-style: italic;
    background-color: #d3d3d3;
    border: #969696 solid thin;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countdown{
    width: 150px;
    height: 150px;
    font-size: 5em;
    font-weight: bold;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
    stroke: none;
    fill: steelblue;
    fill-opacity: .2;
}

.pie text{
    fill: white;
    font-weight: bold;
}

._0{
    stroke: none;
    fill: darkred;
    fill-opacity: .7;
}

._1 {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

._2 {
    stroke: none;
    fill: blue;
    fill-opacity: .7;
}

._3 {
    stroke: none;
    fill: green;
    fill-opacity: .7;
}

._4{
    stroke: none;
    fill: yellow;
    fill-opacity: .7;
}

._5{
    stroke: none;
    fill: blueviolet;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

.bar{
    stroke: none;
    fill: steelblue;
}

.chartBar:hover {
    fill: #4d308b;
}

.xaxis {
    fill: none;
    
}

.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    text-anchor: start;
    fill: #ffffff;
}

.tooltip {
    position: absolute;
    max-width: 200px;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.5);
    pointer-events: none;
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {   
    position: absolute; 
    display: inline;          
   text-align: center;                           
   padding: 2px;             
   font: 12px sans-serif;        
   background-color: rgba(231, 226, 226, 0.342); 
   color:rgb(17, 2, 29);  
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;
z-index:10
}
