body {
    font-family: 'Lato', sans-serif;
    font-style:bold;
    background-color: grey;
}


#title {
    background-color: black;
    width:1800px;
    height:80px;
    text-align: left;
    padding-left:70px;
    color:rgb(165, 55, 253)
}
#content {
    background-color:black;
    width:1800px;
    height:900px;
    display:flex;
    flex-direction: row;
}
#left {
    background-color:black;
    flex:12;
    display:flex;
    flex-direction: column;
}

#mapPanel {
    background-color: black;
    flex:2;
    display: flex;
    flex-direction: row;
}

#barPanel {
    background-color: black;
    flex:1;
    display: flex;
    flex-direction: row;
}
/* 
#middle {
    background-color:lightpink;
    flex:2;
} */

#right {
    background-color:lightskyblue;
    flex:6;
    display:flex;
    flex-direction: column;
    
}

#map {
flex:7;
   text-align: center;
   border:thin solid silver;
   display:flex;
   flex-direction:column;
}

#maptitle{
    flex:50;
}

#themap{
    flex:481;
}

#map-slider{
    flex:47;
}


#bar {
    flex:4;
    border:thin dashed silver;
    
}

#barchart {
    position: absolute;

}

#packLayout-export {
    background-color: black;
    flex:5;
    /* position:absolute; */
    /* width:400px; */
    /* height:400px; */
    /* margin-top:200px; */
    /* margin-right:10px; */
    /* margin-left:1000px; */
    z-index:2;
}

#packLayout-import {
    flex:5;
    background-color:black;
}

#layoutchart-info {
    flex:4;
    background-color:black;
}

#exportBarChart {
    height: 290px;
    width: 450px;
    background-color: black;
    align-self: flex-end;
}

#exportBarChart h2 {
    font-size: 20px;
    color:lavender;
}

#importBarChart {
    height: 290px;
    width: 450px;
    background-color: black;
    align-self: flex-end;
}

#importBarChart h2 {
    font-size: 20px;
    color: lavender;
}

#packLayout-export circle {
    /* fill:#7fc5c9; */
    /* opacity: 0.2; */
    stroke:rgba(0,0,0,0);
    z-index:2;
}

#packLayout-export svg text{
    z-index:5;
    fill:#fff;
    font-size:13px;
}

#packLayout-import circle {
    /* fill:#7fc5c9; */
    /* opacity: 0.2; */
    z-index:2;
}

/* #packLayout-import circle:hover {
    
} */

#packLayout-import svg text{
    z-index:5;
    fill:#fff;
    font-size:13px;
}

path {
    fill: #fff;
    stroke: #fff;
    stroke-width: .5px;
}
path:hover {
    stroke:silver;
    stroke-width:2px;
    fill-opacity: 0.5;
    
}

#maptitle {
    text-align: left;
    
}
.maptitle {
    font-size:20px;
    color:white;
    text-align: left;
}



.box {
    /* width: 200px; */
    /* height: 200px; */
    margin: 3px;
    float: left;
    text-align: center;
    border: #969696 dashed thin;
    /* padding: 5px; */
}

.chartBar:hover {
    fill: #4d308b;
}

.xaxis {
    fill: none;
    
}

.axis line {
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    text-anchor: start;
    fill: #ffffff;
}

.tooltip {
    position: absolute;
    max-width: 200px;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.5);
    pointer-events: none;
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {   
    position: absolute; 
    display: inline;          
   text-align: center;                           
   padding: 2px;             
   font: 12px sans-serif;        
   background-color: rgba(231, 226, 226, 0.342); 
   color:rgb(17, 2, 29);  
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;
z-index:10
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin-top:-5px;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 13px; /* Slider handle height */
    background: rgb(160, 133, 222); 
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(160, 133, 222); 
    cursor: pointer; /* Cursor on hover */
  }
  
  .mapLegend {
      background-color: black;
      z-index: 1;
      float: right;
      top: 180px;
      right: 50px;
      position: absolute;

  }

  .legend-label {
      fill: white;
      /* z-index: -1; */
  }